.imageviewer{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
    max-width: 400px;
    /* margin-top: 2rem; */
    /* border: 1px; */
    /* border-radius: 10px; */
   
}

.imageviewer-image{
    max-height: 40%;
    min-height: 270px; /*200*/
    border-radius: 10px;
    max-width: 90%;
    

}

.imageviewer:hover{
    transform: scale(1.1);
}